@charset "utf-8";

// NOTE: based on https://ethanschoonover.com/solarized/
$sl-base03: #002b36;
$sl-base02: #073642;
$sl-base01: #586e75;
$sl-base00: #657b83;
$sl-base0: #839496;
$sl-base1: #93a1a1;
$sl-base2: #eee8d5;
$sl-base3: #fdf6e3;
$sl-yellow: #b58900;
$sl-orange: #cb4b16;
$sl-red: #dc322f;
$sl-magenta: #d33682;
$sl-violet: #6c71c4;
$sl-blue: #268bd2;
$sl-cyan: #2aa198;
$sl-green: #859900;

@use "../node_modules/bulma/sass/utilities" as * with (
  $orange: $sl-orange,
  $yellow: $sl-yellow,
  $green: $sl-green,
  $turquoise: $sl-cyan,
  $cyan: $sl-cyan,
  $blue: $sl-blue,
  $purple: $sl-violet,
  $red: $sl-red
);
@use "../node_modules/bulma/sass/base" with (
  $code-size: 1em,
  $body-line-height: 1.7
);
@use "../node_modules/bulma/sass/themes";
@use "../node_modules/bulma/sass/components/tabs.scss";
@use "../node_modules/bulma/sass/elements/button.scss";
@use "../node_modules/bulma/sass/elements/content.scss";
@use "../node_modules/bulma/sass/elements/image.scss";
@use "../node_modules/bulma/sass/elements/tag.scss";
@use "../node_modules/bulma/sass/elements/title.scss";
@use "../node_modules/bulma/sass/form/shared.scss";
@use "../node_modules/bulma/sass/form/checkbox-radio.scss";
@use "../node_modules/bulma/sass/layout/container.scss";
@use "../node_modules/bulma/sass/layout/footer.scss";
@use "../node_modules/bulma/sass/layout/section.scss" with (
  $section-padding: 1.5rem,
  $section-padding-desktop: 1.5rem
);

@mixin light-theme {
  // NOTE: Solarized Light.
  --bulma-black: #{$sl-base03};
  --bulma-black-bis: #{$sl-base02};
  --bulma-black-ter: #{$sl-base02};
  --bulma-grey-darker: #{$sl-base00};
  --bulma-grey-dark: #{$sl-base00};
  --bulma-grey: #{$sl-base01};
  --bulma-grey-light: #{$sl-base0};
  --bulma-grey-lighter: #{$sl-base1};
  --bulma-grey-lightest: #{$sl-base1};
  --bulma-white-ter: #{$sl-base2};
  --bulma-white-bis: #{$sl-base2};
  --bulma-white: #{$sl-base3};

  --bulma-text: #{$sl-base01};
  --bulma-text-strong: #{$sl-base01};

  --bulma-scheme-main: #{$sl-base3};
  --bulma-scheme-main-bis: #{$sl-base2};
  --bulma-scheme-main-ter: #{$sl-base2};

  --bulma-scheme-h: 44;
  --bulma-scheme-s: 87%;
  --bulma-scheme-l: 94%;

  --bulma-background-l: 94%;

  --bulma-scheme-main-s: 87%;
  --bulma-scheme-main-bis-s: 87%;
  --bulma-scheme-main-ter-s: 87%;
  --bulma-scheme-main-l: 94%;
  --bulma-scheme-main-bis-l: 94%;
  --bulma-scheme-main-ter-l: 94%;

  --bulma-code: #{$sl-base00};

  --bulma-hr-background-color: #{$sl-base1};

  --bulma-border: #{$sl-base1};

  --pagefind-ui-scale: 0.8;
  --pagefind-ui-primary: #{$sl-base01};
  --pagefind-ui-text: #{$sl-base01};
  --pagefind-ui-background: #{$sl-base3};
  --pagefind-ui-border: #{$sl-base1};
  --pagefind-ui-tag: #{$sl-base1};
  --pagefind-ui-border-width: 1px;
  --pagefind-ui-border-radius: 8px;
  --pagefind-ui-image-border-radius: 8px;
  --pagefind-ui-image-box-ratio: 3 / 2;

  --mark-color: #{$sl-base3};

  --scrollbar-bg: transparent;
  --scrollbar-color: rgba(238, 232, 213, 1);

  --bulma-family-primary: sans-serif;
  --bulma-family-secondary: sans-serif;
  --bulma-family-code: monospace;
}

@mixin dark-theme {
  // NOTE: Solarized Dark.
  --bulma-black: #{$sl-base3};
  --bulma-black-bis: #{$sl-base2};
  --bulma-black-ter: #{$sl-base2};
  --bulma-grey-darker: #{$sl-base1};
  --bulma-grey-dark: #{$sl-base1};
  --bulma-grey: #{$sl-base0};
  --bulma-grey-light: #{$sl-base00};
  --bulma-grey-lighter: #{$sl-base01};
  --bulma-grey-lightest: #{$sl-base01};
  --bulma-white-ter: #{$sl-base02};
  --bulma-white-bis: #{$sl-base02};
  --bulma-white: #{$sl-base03};

  --bulma-text: #{$sl-base1};
  --bulma-text-strong: #{$sl-base1};

  --bulma-scheme-main: #{$sl-base03};
  --bulma-scheme-main-bis: #{$sl-base02};
  --bulma-scheme-main-ter: #{$sl-base02};

  --bulma-scheme-h: 192;
  --bulma-scheme-s: 100%;
  --bulma-scheme-l: 11%;

  --bulma-background-l: 11%;

  --bulma-scheme-main-s: 100%;
  --bulma-scheme-main-bis-s: 100%;
  --bulma-scheme-main-ter-s: 100%;
  --bulma-scheme-main-l: 11%;
  --bulma-scheme-main-bis-l: 11%;
  --bulma-scheme-main-ter-l: 11%;

  --bulma-code: #{$sl-base0};

  --bulma-hr-background-color: #{$sl-base01};

  --bulma-border: #{$sl-base01};

  --pagefind-ui-scale: 0.8;
  --pagefind-ui-primary: #{$sl-base1};
  --pagefind-ui-text: #{$sl-base1};
  --pagefind-ui-background: #{$sl-base03};
  --pagefind-ui-border: #{$sl-base01};
  --pagefind-ui-tag: #{$sl-base01};
  --pagefind-ui-border-width: 1px;
  --pagefind-ui-border-radius: 8px;
  --pagefind-ui-image-border-radius: 8px;
  --pagefind-ui-image-box-ratio: 3 / 2;

  --mark-color: #{$sl-base03};

  --scrollbar-bg: transparent;
  --scrollbar-color: rgba(7, 54, 66, 1);

  --bulma-family-primary: sans-serif;
  --bulma-family-secondary: sans-serif;
  --bulma-family-code: monospace;
}

@media (prefers-color-scheme: light) {
  :root {
    @include light-theme();
  }

  [data-theme="dark"] {
    @include dark-theme();
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-theme();
  }

  [data-theme="light"] {
    @include light-theme();
  }
}

html {
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-bg);
}

// NOTE: adjust non-parameterized styles.
.content a {
  text-decoration: underline;
}
a:visited,
a.button:visited,
a.tag:visited {
  color: $purple;
}
a.button,
a.tag {
  color: $blue;
}
.checkbox {
  margin-right: 0.5em;
}
main {
  padding-bottom: 1.5em;
}
code {
  word-wrap: break-word;
}
code,
pre,
.tag:not(body),
a.button {
  border: 1px solid $sl-base01;
  border-radius: $radius;
}
pre code {
  border: none;
  line-height: 1.5;
}
.content {
  li:first-child {
    margin-top: 0.25em;
  }
}
.date {
  color: $sl-base01;
}
.prev span:before {
  content: "« ";
}
.next span:after {
  content: " »";
}
.theme-toggle-light:before {
  content: "🌞";
}
.theme-toggle-dark:before {
  content: "🌙";
}
.theme-toggle-system:before {
  content: "🖥️";
}

// NOTE: apply style directly without using PagefindHighlight.
#search {
  mark {
    background-color: $sl-base00;
    color: var(--mark-color);
  }
  input:focus {
    outline-style: none;
  }
}

.calendar-container {
  position: relative;
  overflow: auto;
}

.calendar {
  border-spacing: 2px;
  border-collapse: separate;

  min-width: 778px;
  overflow: hidden;

  > thead > tr {
    th {
      border: none;
      padding: 0;
      margin: 0;

      height: 24px;
      width: 12px;

      span {
        font-size: small;
        font-weight: normal;
        position: absolute;
      }
    }
    th.nav {
      width: 100%;
      position: relative;

      a {
        position: static;
        width: 50%;
      }
      .prev > span {
        position: absolute;
        left: 0.5em;
      }
      .next > span {
        position: absolute;
        right: 0.5em;
      }
    }
  }

  > tbody > tr {
    td {
      border: none;
      padding: 0;
      margin: 0;

      height: 12px;
      width: 12px;
      border-radius: 4px;

      span {
        font-size: small;
        position: absolute;
      }
    }
    td.dow {
      line-height: 0.8em;
      width: 2em;
    }
    td.log {
      background-color: $sl-cyan;
      a {
        display: block;
        height: 100%;
        width: 100%;
      }
    }
    td.no-log {
      background-color: var(--bulma-white-ter);
    }
    td.other-year {
      background-color: var(--bulma-white);
    }
  }
}

.book-link {
  .is-small {
    padding: 0.5em;
  }
}

.booklog-info {
  text-align: end;
}
